<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30 AM </td>  <td>Registration and Continental Breakfast</td> </tr>
      <tr> <td>09:00 AM </td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating tasks with the Unix shell </a> </td> </tr>
      <tr> <td>11:00 AM </td>  <td>Coffee</td> </tr>
      <tr> <td>11:15 AM </td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating tasks with the Unix shell (continued) </a> </td> </tr>
      <tr> <td>1:00 PM </td>  <td>Lunch break</td> </tr>
      <tr> <td>1:45 PM </td>  <td><a href="https://github.com/bojiutk/r-novice-inflammation/">Programming with R: part 1 </a> </td> </tr>
      <tr> <td>3:30 PM </td>  <td>Coffee Break</td> </tr>
      <tr> <td>3:45 PM </td>  <td><a href="https://github.com/bojiutk/r-novice-inflammation">Programming with R: part 1 (continued) </a> </td> </tr>
      <tr> <td>5:00 PM </td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Registration and Continental Breakfast </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming with R: part 2 </a> </td> </tr>
      <tr> <td>11:00 AM </td>  <td>Coffee</td> </tr>
      <tr> <td>11:15</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming with R: part 2 (continued) </a> </td> </tr>
      <tr> <td>1:00 PM </td>  <td>Lunch break</td> </tr>
      <tr> <td>1:45 PM </td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git </a> </td> </tr>
      <tr> <td>3:30 PM </td>  <td>Coffee Break</td> </tr>
      <tr> <td>1:45 PM </td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git (continued) </a> </td> </tr>
      <tr> <td>5:00 PM </td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
